.list-products{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
.card-product{
    display: flex;
    flex-direction: column;
    margin: 20px;
    height: 300px;
    width: 300px;
    border: 0px solid rgb(209, 50, 50);
    border-radius: 15px;
    overflow: hidden;
}
.img-product{
    height: 150px;
    overflow: hidden;
    
}
.img-product img{
    border-radius: 15px;
    object-fit:fill;
    width: 100%;
    height: 100%;
    filter: blur(0.3px);
}
.price-product{
    margin-top: auto;
}